@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.glassmorphism {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.light-top {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 3px;
  background: linear-gradient( to right, transparent, white, transparent);
  box-shadow: 0 0 15px white;
  animation: moveTop 1s linear infinite;
  z-index: 1;
  pointer-events: none;
}

.light-right {
  position: absolute;
  top: -120px;
  right: 0;
  width: 3px;
  height: 120px;
  background: linear-gradient( to bottom, transparent, white, transparent);
  box-shadow: 0 0 15px white;
  animation: moveRight 1s linear infinite;
   z-index: 1;
  pointer-events: none;
}

.light-bottom {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 120px;
  height: 3px;
  background: linear-gradient( to right, transparent, white, transparent );
  box-shadow: 0 0 15px white;
  animation: moveBottom 1s linear infinite;
   z-index: 1;
  pointer-events: none;
}

.light-left {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 3px;
  height: 120px;
  background: linear-gradient( to bottom, transparent, white, transparent);
  box-shadow: 0 0 15px white;
  animation: moveLeft 1s linear infinite;
   z-index: 1;
  pointer-events: none;
}

.card-content{
  position: relative;
  z-index: 5;
}

@keyframes moveTop {
  from {
    left: -120px;
  }
  to {
    left: 100%;
  }
}

@keyframes moveRight {
  from {
    top: -120px;
  }
  to {
    top: 100%;
  }
}

@keyframes moveBottom {
  from {
    right: -120px;
  }
  to {
    right: 100%;
  }
}

@keyframes moveLeft {
  from {
    bottom: -120px;
  }
  to {
    bottom: 100%;
  }
}